# Django API-key
SECRET_KEY=Ключ_Django

# Режим дебага (разработки)
DEBUG=True

# Настройки для подключения к БД
NAME=atomic_habits
USER=postgres
PASSWORD=Пароль_базы_данных
HOST=localhost
PORT=5432

# Telegram API-key
TG_BOT_TOKEN=Токен_бота_телеграм